<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.email %>
      </h1>
      <h3><%= @user.created_at %></h3>
      <h3><%= @user.updated_at %></h3>
      <h3>Time at present: <%= Time.zone.now %></h3>
    </section>
  </aside>
</div>